.build/
*/.build/
*/*/.build/
*/*/*/.build/
*/*/*/*/.build/
*/*/*/*/*/.build/
*/*/*/*/*/*/.build/
*/*/*/*/*/*/*/.build/
.vscode/
*/.vscode/
*/*/.vscode/
*/*/*/.vscode/
*/*/*/*/.vscode/
*/*/*/*/*/.vscode/
*/*/*/*/*/*/.vscode/
*/*/*/*/*/*/*/.vscode/
node_modules/
*/node_modules/
*/*/node_modules/
*/*/*/node_modules/
*/*/*/*/node_modules/
*/*/*/*/*/node_modules/
*/*/*/*/*/*/node_modules/
*/*/*/*/*/*/*/node_modules/
main.tex
*/main.tex
*/*/main.tex
*/*/*/main.tex
*/*/*/*/main.tex
*/*/*/*/*/main.tex
*/*/*/*/*/*/main.tex
*/*/*/*/*/*/*/main.tex
*.png
*/*.png
*/*/*.png
*/*/*/*.png
*/*/*/*/*.png
*/*/*/*/*/*.png
*/*/*/*/*/*/*.png
*/*/*/*/*/*/*/*.png
*.jpg
*/*.jpg
*/*/*.jpg
*/*/*/*.jpg
*/*/*/*/*.jpg
*/*/*/*/*/*.jpg
*/*/*/*/*/*/*.jpg
*/*/*/*/*/*/*/*.jpg
*.jepg
*/*.jepg
*/*/*.jepg
*/*/*/*.jepg
*/*/*/*/*.jepg
*/*/*/*/*/*.jepg
*/*/*/*/*/*/*.jepg
*/*/*/*/*/*/*/*.jepg
