.build/
*/.build/
*/*/.build/
*/*/*/.build/
*/*/*/*/.build/
*/*/*/*/*/.build/
*/*/*/*/*/*/.build/
*/*/*/*/*/*/*/.build/
.vscode/
*/.vscode/
*/*/.vscode/
*/*/*/.vscode/
*/*/*/*/.vscode/
*/*/*/*/*/.vscode/
*/*/*/*/*/*/.vscode/
*/*/*/*/*/*/*/.vscode/
node_modules/
*/node_modules/
*/*/node_modules/
*/*/*/node_modules/
*/*/*/*/node_modules/
*/*/*/*/*/node_modules/
*/*/*/*/*/*/node_modules/
*/*/*/*/*/*/*/node_modules/
