.build/
*/.build/
*/*/.build/
*/*/*/.build/
*/*/*/*/.build/
*/*/*/*/*/.build/
*/*/*/*/*/*/.build/
*/*/*/*/*/*/*/.build/
.vscode/
*/.vscode/
*/*/.vscode/
*/*/*/.vscode/
*/*/*/*/.vscode/
*/*/*/*/*/.vscode/
*/*/*/*/*/*/.vscode/
*/*/*/*/*/*/*/.vscode/
node_modules/
*/node_modules/
*/*/node_modules/
*/*/*/node_modules/
*/*/*/*/node_modules/
*/*/*/*/*/node_modules/
*/*/*/*/*/*/node_modules/
*/*/*/*/*/*/*/node_modules/


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.env
/db-data/#ib_16384_0.dblwr
/db-data/#ib_16384_1.dblwr
/logs/nginx/access.log
/db-data/auto.cnf
/db-data/binlog.000001
/db-data/binlog.000002
/db-data/binlog.000003
/db-data/binlog.000004
/db-data/binlog.000005
/db-data/binlog.000006
/db-data/binlog.000007
/db-data/binlog.000008
/db-data/binlog.000009
/db-data/binlog.000010
/db-data/binlog.000011
/db-data/binlog.000012
/db-data/binlog.000013
/db-data/binlog.000014
/db-data/binlog.000015
/db-data/binlog.index
/db-data/ca.pem
/db-data/ca-key.pem
/db-data/client-cert.pem
/db-data/client-key.pem
/Docker/nginx/default.conf
/logs/nginx/error.log
/Docker/nginx/fastcgi-php.conf
/db-data/ib_buffer_pool
/db-data/ibdata1
/db-data/mysql.ibd
/db-data/mysql.sock
/db-data/mysql_upgrade_history
/db-data/private_key.pem
/db-data/public_key.pem
/db-data/server-cert.pem
/db-data/server-key.pem
/db-data/undo_001
/db-data/undo_002
